.imagem{
    text-align: center;
    background-color: blue;
}
ul{
    list-style-type: none;
    text-align: center;
}
a{
    background: blue;
    color: white;
    font-family: Verdana;
    font-size: 22px;
    text-decoration: none;
    border: 1px blue solid;
}
h3{
    border-bottom: 2px black solid;
    color: blue;
    font-family: Verdana;

}
h2{
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
    color: blue;
}
h5{
    text-align: center;
    font-family: Verdana;
    font-size: 10px;
    color: blue;
}